body{
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start, #number_of_objects, #start{
    font-size: 18px;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    color: white;
    background-color: red;
}
.copy_right_footer:hover{
    background-image: linear-gradient(to top right, #affae6, #74d665, #d6b665, #d66565, #a578e3);
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}
#start{
    box-shadow: 3px 3px 5px ;
    animation-name: rainbow-button;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes rainbow-button{
    0% {
        box-shadow: 5px 5px 5px purple;
    }
    12.5% {
        box-shadow: 5px 3px 5px red;
    }
    25% {
        box-shadow: 5px 5px 5px orange;
    }
    37.5% {
        box-shadow: 5px 5px 5px yellow;
    }
    50% {
        box-shadow: 5px 5px 5px green;
    }
    75% {
        box-shadow: 5px 5px 5px darkgreen;
    }
    100% {
        box-shadow: 5px 5px 5px pink;
    }
}